@font-face {
	font-family: 'Renner';
	src: url("assets/fonts/Renner/renner-book.otf") format('opentype');
}

@font-face {
	font-family: 'RennerBook';
	src: url("assets/fonts/Renner/Renner_ 400_Book.ttf") format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: url("assets/fonts/Poppins/Poppins-Regular.otf") format('opentype');
}

@font-face {
	font-family: 'PoppinsLight';
	src: url("assets/fonts/Poppins/Poppins-Light.otf") format('opentype');
}

html,
body {
    height: 100vh; 
    width: 100vw;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}